body{
    background-color: #DADADA;
    margin: 0;
    height: 100%;
    font-family: Arial;

}

.main{
    width: auto;
    margin:30px;
}

.left{
    width:	70%;
    float:left;
    height: 100%;

}
.right{
    width:	30%;
    float:right;
    height: 100%;

}

.part{
    height: 100%;
    background: white;
    border-radius: 7px;
    padding:	10px;
    margin: 7px;
}

.line{
    <!-- how to make lines between goods? -->
    background: white;
    height: 100%;
    padding:	10px;


}
.good{
    border-radius: 7px;
    width:	100%;
    margin:	auto;
    max-width:	700px;
}

.add{
    border-radius: 7px;
    background:	red;
    width:	100%;
    margin:	auto;
    max-width:	700px;
}
.enter-name{
    border: grey 1px solid;
    color: grey;
    background: white;
    padding:	10px;
    height: 100%;
}
.button{
    /* cannot make enter name place + button be one size
     also have problem making round borders only one the left of enter space
     and on the right of button */
    width:	130px;
    float:	right;
    padding:	10px;
    background: #67afff;
    color: white;
    font-size: larger;
}
.name{
    float: left;
    background: white;
    padding:	10px;
    height: 100%;


}

.number-of-goods{
    display: inline-block;
margin: auto;
    background: white;
    padding:	10px;
    height: 100%;

    /* how to make it in center? */

}

.buttons-to-buy{
    display: inline-block;
    float: right;
    background: white;
    padding:	10px;
    height: 100%;

}
.box{

}

.round{
    /* how to make + - 1 not only centered by width but also by hight*/
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    display: inline-block;
    box-shadow: grey;

}

.minus{
    background: red;
    float: left;
}

.plus{
    background: #00d100;
    float:right;
}

.number{
    border-radius: 10%;
    text-align: center;
    height: 30px;
    width: 30px;
    background: #bcbcbc;
    display: inline-block;
}

.button-sell{

    width:	130px;
    padding:	10px;
    background: #f1f1f1;
    color: black;
    font-size: larger;
    float: left;
}
.button-x{

    width:	20px;
    float:	right;
    padding:	10px;
    background: red;
    color: white;
    font-size: larger;
}