body{
    background-color: #DADADA;
    margin: 0;
    height: 100%;
    font-family: Arial;

}

.main{
    width: auto;
    margin:30px;
}

.left{
    width:	70%;
    float:left;
    height: 100%;

}
.right{
    width:	30%;
    float:right;
    height: 100%;

}

.part{
    height: 100%;
    background: white;
    border-radius: 7px;
    padding:	10px;
    margin: 7px;
}

.line{
    <!-- how to make lines between goods? -->
    background: white;
    height: 100%;
    padding:	10px;
}

.add{
    border-radius: 7px;
    background:	red;
    width:	100%;
    margin:	auto;
    max-width:	700px;
}
.enter-name{
    border: grey 1px solid;
    color: grey;
    background: white;
    padding:	10px;
    height: 100%;
}
.button{
    /* cannot make enter name place + button be one size
     also have problem making round borders only one the left of enter space
     and on the right of button */
    width:	130px;
    float:	right;
    padding:	10px;
    background: #67afff;
    color: white;
    font-size: larger;
}
.name{
    float: left;


}

.number-of-goods{
    display: inline-block;
margin: auto;
    /* how to make it in center? */

}

.buttons-to-buy{
    display: inline-block;
    float: right;

}